<div class="jumbotron">
  <h1 class="display-4">{{title}}</h1>
  <p class="lead">This is where the best of the best will survive.</p>
  <hr class="my-4">
  <div>
    <ul class="inline">
      <li class="list-inline-item col-2"><h3><a routerLink="debates"><i class="fas fa-skull"></i>Debates</a></h3></li>
      <li class="list-inline-item col-2"><h3><a routerLink="schedule"><i class="fab fa-audible"></i>Schedule</a></h3></li>
      <li class="list-inline-item col-2"><h3><a routerLink="players"><i class="fas fa-users"></i>Players</a></h3></li>
    </ul>
  </div>
</div>